
.main__picture-container {
  width: 100%;
  display: block;
}

.main__picture-image {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.main__container {
  display: grid;
  grid-template-rows: 124px min-content;
}

.main__title-container{
  grid-row: 1;
  display: block;
  border: 6px solid rgb(79, 0, 79);
  background: rgb(101, 0, 102);
  padding: auto;
}

.main__title {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
}

.main__about-text {
  border: 6px solid rgb(102, 51, 76);
  background: rgb(158, 117, 158);
}

.main__about-text-wording {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
}

.main__instructors-container {
  margin: 60px 65px;
  margin-right: 65px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-content: space-between;
}

.main__one-instructor{
  display: block;
  grid-row: 1;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  border: 1px solid rgb(102, 51, 76);
}

.main__one-instructor-photo{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.main__one-instructor-name{
  display: block;
  color: rgb(101, 0, 102);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
}

.main__instructors-certificates{
  margin: auto;
  grid-row: 2;
  grid-column: 1/4;
  margin-top: 200px;
}

.main__certificates-button {
  margin: auto;
  border-radius: 45px;
  width: 1194px;
  height: 90x;
  border: 6px solid rgb(79, 0, 79);
  background-color: rgb(158, 117, 158);
  display: flex;
}

.main__certificates-button_text {
  
}
.main__certificates-text {
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: center;
  margin: auto;

}

.main__tours-container{
  padding: 21px 4px 2px; 
}

.main__tours-list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.main__one-tour{
  display: flex;
  margin: 22px 75px;
  width: 559px;
  height: 542px;
  border-radius: 15px;
  position: relative;
}

.main__tours-logo{
  position: absolute;
  width: 60px;
  height: 70px;
  top: 57px;
  left: 57px;
  z-index: 3;
}

.main__tour-image{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
  display: block;

}

.main__tour-name {
  position: absolute;
  bottom: 38px;
  left: 57px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0px;
  text-align: left;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-stroke: #000;
  z-index: 3;
}

.main__tour-arrow{
  appearance: none;
  position: absolute;
  top: 243px;
  right: 0;
  z-index: 3;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 87px;
}

.main__carousel{
  width: 100%;
}

.main__carousel-container{
  position: relative;
  margin: 83px 189px;
  border-radius: 10px;
  display: block;
}

.main__carousel-image{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.main__feedback-arrow{
  appearance: none;
  position: absolute;
  top: 350px;
  right: 0;
  z-index: 3;
  background-color: transparent;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 87px;
}


.modal {
  width: 1440px;
  height: 717px;
  outline: solid, 1px, rgb(101, 0, 102);
  position: relative;
  padding-top: 40px;
  display: none;
  background-color: rgb(255, 255, 255, 0.5);
}

.modal__close {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.modal__close-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.modal__title-container {
  margin-bottom: 80px;
}

.modal__main {
  background-color: rgb(196, 196, 196);
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  padding: 50px 38px;
  gap: 70px;
}

.modal__pic-container {
  /* width: 400px; */
  /* height: 400px; */
  background-color: #fff;
  border-radius: 20px;
}

.modal__pic-img {
  width: 100%;
  height: 100%;
}

.modal__visible {
  margin: auto;
  display: block;
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.modal__hidden {
  visibility: hidden;
}
summary::-webkit-details-marker{display:none;}
summary::-moz-list-bullet{list-style-type:none;}
summary::marker{display:none;} 
summary {
  display:inline-block;
  padding: .3em .5em .3em .4em;
  font-size:1.4em;
  cursor: pointer;
}
summary:before {  
  content: "";
  margin-right: .3em;
}
details[open] > summary:before {
  content: "";
}
summary ~ * {
    padding:0 1em 0 1em;
}

details {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 5.5rem;
  margin-bottom: .5rem;
}